{% extends "./base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="float-left">
                <h3>
                    {% if linkman %}
                        更新
                    {% else %}
                        建立
                    {% endif %}
                </h3>
            </div>
            <div class="col-12">
                <div class="float-right">
                    {% url 'list' as list %}
                    {% bootstrap_button '回列表' button_type='link' href=list button_class='btn-primary' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" id="myform">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button '送出' button_type='submit' button_class='btn-primary' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}