{% extends 'mainsite/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="float-left">
                <h3>列表</h3>
            </div>
            <div class="float-right">
                {% url 'create' as create %}
                {% bootstrap_button '建立' button_type='link' href=create button_class='btn-primary' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for linkman in linkman_list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <p>姓名</p>
                        </div>
                        <div class="col-9">
                            <p>{{ linkman.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>建立日</p>
                        </div>
                        <div class="col-9">
                            <p>{{linkman.created_at|date:"Y/m/d G:i:s"}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                {% url 'detail' linkman.pk as detail %}
                                {% url 'update' linkman.pk as update %}
                                {% url 'delete' linkman.pk as delete %}
                                {% bootstrap_button '詳細' button_type='link' href=detail button_class='btn-primary' %}
                                {% bootstrap_button '更新' button_type='link' href=update button_class='btn-primary' %}
                                {% bootstrap_button '刪除' button_type='link' href=delete button_class='btn-primary' %}
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    無資料
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}